:root {
  --primary: #e99401;
  --black: #262626;
  --white: #fff;
  --fuente-principal: "Outfit", sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
[class*="contenedor"],
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

/* -------- Header -------- */

.header {
  background-image: linear-gradient(
      to right,
      rgba(0 0 0 / 0.8),
      rgba(0 0 0 / 0.7)
    ),
    url("../../public/img/header.jpg");
  padding: 6rem 0;
  background-size: cover;
  background-position: center center;
}

.header .logo {
  width: 20rem;
  margin-bottom: 2rem;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------- Navegacion -------- */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  list-style: none;
  /* margin-left: 2rem; */
  padding: 1rem;
}

.menu a {
  color: var(--white);
  font-size: 2rem;
  /* font-weight: 700; */
  text-decoration: none;
  transition: all 0.3s;
}

.activo {
  color: var(--primary);
}

span::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: width 0.3s;
}

.menu-item:hover span::before {
  width: 100%;
}

.activo a {
  color: var(--primary);
}

.activo span::before {
  width: 100%;
}

@media (max-width: 768px) {
  .barra {
    flex-direction: column;
  }

  .menu {
    margin-left: -60px;
  }

  .header {
    padding: 3rem 0;
  }
}
