.nosotros .contenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}

.nosotros .contenido img {
  width: 100%;
  margin-top: 5rem;
}

.nosotros .contenido .texto {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
}

.nosotros .contenido .texto p {
  text-align: justify;
}

@media (max-width: 768px) {
  .nosotros .contenido {
    grid-template-columns: 1fr;
  }

  .nosotros .contenido img {
    margin-top: 0;
  }
}
