.blog {
  max-width: 80rem;
  margin: 0 auto;
}

.blog-single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.blog-single__img img {
  width: 100%;
}

.blog-single__content {
  padding: 1rem;
}

.blog-single__date {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: initial;
  color: var(--primary);
}

.blog-single__content .blog-single__description {
  white-space: pre-wrap;
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

/* -------- Responsive -------- */

@media (max-width: 768px) {
  .blog {
    flex-direction: column;
  }

  .blog-single {
    flex-direction: column;
  }

  .blog-single__img {
    margin-bottom: 2rem;
  }

  .blog-single__content {
    margin-bottom: 2rem;
  }

  .blog-single__date {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: initial;
    color: var(--primary);
  }

  .blog-single__content .blog-single__description {
    white-space: pre-wrap;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
