.guitarras-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

@media (min-width: 768px) {
  .guitarras-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .guitarras-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.guitarras-grid .tienda {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
}

.guitarras-grid .tienda:hover {
  transform: scale(0.98);
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.guitarra-img-wrapp {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.tienda img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.contenido {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
}

.contenido h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
  color: var(--primary);
}

.contenido p {
  text-align: center;
}

.contenido .tienda-precio {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #b12704;
  margin-top: 0;
}

.contenido .enlace {
  justify-self: center;
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contenido .enlace:hover {
  color: #000;
  transition: all 0.3s ease;
  background-color: var(--primary);
  font-weight: bold;
}

.spacer {
  height: 6rem;
}
